@media screen and (max-width:600px) {
        nav{
                display: block;
                width: 75%;
                margin: auto;
        }
        .flex {
                display: block;
        }
        .web{
                display: none;
        }
}